body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
    color: #333;
}

h1 {
    color: #0056b3;
    margin-bottom: 20px;
}

.game-info-container {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.game-info {
    display: flex;
    align-items: center;
}

.game-info .label {
    font-weight: bold;
    margin-right: 10px;
    color: #007bff;
}

.memory-game {
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    perspective: 1000px; /* For the 3D flip effect */
}

.memory-card {
    width: 150px;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensures the image fits within the border-radius */
}

.front-face {
    background: #007bff;
    color: white;
    font-size: 5em;
    line-height: 1; /* Adjust line height for the question mark */
}

.back-face {
    background: #fff;
    transform: rotateY(180deg);
}

.back-face img {
    width: 120px;
    height: auto;
}

.restart-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restart-button:hover {
    background-color: #218838;
}

.win-message {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    z-index: 100;
}

.win-message h2 {
    color: #28a745;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.win-message p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#play-again-button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#play-again-button:hover {
    background-color: #0056b3;
}
